<h1> New Role Form </h1>

<div>
  <% if @role.errors.any? %>
    <ul>Role could not be created, here's why:
      <% @role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  <% end %>
<div>

<div>
 <%= form_for @role do |form| %>
    <h2> Pick a game: </h2><br>
    <%= form.collection_select :game_id, @games, :id, :name, prompt: true %><br>
    <h2> Pick a person: </h2><br>
    <%= form.collection_select :person_id, @people, :id, :name, prompt: true %><br><br>

    <h3><%= form.label :occupation, 'Enter the roles occupation:' %></h2>
    <%= form.text_field :occupation %><br><br>

    <%= form.submit %>
  <% end %>
</div>